
.body{
  min-width: 550px;
}

.profile-pic {
  width: 75%;
  margin-bottom: 30px;
}


.section{
  background-color: white;
  display: flex;
  justify-content: space-around;
  min-height: 900px;
  width: 100%;
}

/* .section_grey{
  height: 700px;
  width: 100%;
  background-color: #E8E8E8;
} */

.section_grey_light{
  background-color: #D3D3D3;
  display: flex;
  justify-content: space-around;
  min-height: 900px;
  width: 100%;
}

.text_then_image{
  flex-flow: row wrap-reverse;  
}

.image_then_text{
  flex-flow: row wrap; 
}

.section_calendy{
  background-color: #D3D3D3;
}

.text_section_left{
  margin: auto;
  padding: 40px;
  width: 800px;
  /* flex-grow: 1; */
  float: left;
}

.text_section_right{
  margin: auto;
  padding: 40px;
  width: 800px;
  float: right;
}

.image_section{
  margin: auto;
  max-width: 700px;
  max-height: 500px;
  padding: 40px;
  /* float: right; */
}

.text_section_title{
  font-size: 5em;
}

.background-image{
  width: 100%;
  height: 100%;
}

.review_text_section{
  width: 10%;
  top: 0%;
  bottom: 50%;
  right: 0%;
  float: right;
  font-size: 14px;
}

.instagram_feed{
  margin: auto;
  min-width: 600px;
  padding: 30px;
}

.calendly{
  padding-top: 3%;
}

@media(max-width:700px){
  .image_section{
    width: 90vw;
  }
}


