

.profile-pic {
  width: 75%;
  margin-bottom: 30px;
}

.section{
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: space-around;
  min-height: 90vh;
  width: 100%;
}

/* .section_grey{
  height: 700px;
  width: 100%;
  background-color: #E8E8E8;
} */

.section_grey_light{
  overflow: hidden;
  background-color: #E8E8E8;
  display: flex;
  justify-content: space-around;
  min-height: 90vh;
  width: 100%;
}

.text_then_image{
  flex-flow: row wrap-reverse;  
}

.image_then_text{
  flex-flow: row wrap; 
}

.section_calendy{
  background-color: #D3D3D3;
}

.text_section_left{
  /* background: salmon; */
  margin: auto;
  padding: 20px;
  width: 48%;
    /* flex-grow: 1; */
}

.text_section_right{
  /* background: salmon; */
  margin: auto;
  padding: 20px;
  width: 48%;
}

.image_section{
  /* background: salmon; */
  margin: auto;
  width: 48%;
  max-width: 600px;
  padding: 20px;
  /* float: right; */
}

.text_section_title{
  font-size: 3em;
}

.background-image{
  width: 100%;
  height: 100%;
}

.instagram_feed{
  margin: auto;
  width: 48%;
  padding: 30px;
}

.calendly{
  padding-top: 3%;
}

.text{
  font-size: 1em;
}

@media(max-width:1000px){
  .instagram_feed{
    width: 90vw;
    margin: 0 0 10px 0;
    height: auto;
  }
  .image_section{
    width: 90vw;
    margin: 0 0 10px 0;
    height: auto;
  }
  .text_section_left{
    width: 90vw;
    margin: 0 0 10px 0;
    height: auto;
  }
  .text_section_right{
    width: 90vw;
    margin: 0 0 10px 0;
    height: auto;
  }
}

@media(max-width:425px){
  .instagram_feed{
    overflow: hidden;
    margin: 0 0 10px 0;
    height: 5%;
  }
  .image_section{
    overflow: hidden;
    margin: 0 0 10px 0;
    height: 5%;
  }
  .text_section_left{
    width: 90vw;
    margin: 0 0 10px 0;
    height: auto;
  }
  .text_section_right{
    width: 90vw;
    margin: 0 0 10px 0;
    height: auto;
  }
}
