
.body{
  margin-top: 300px;
}

.profile-pic {
  width: 75%;
  margin-bottom: 30px;
}

.section{
  height: 700px;
  width: 100%;
}

.section_grey{
  height: 700px;
  width: 100%;
  background-color: #E8E8E8;
}

.text_section_left{
  position: relative;
  top: 20%;
  left: 5%;
  width: 35%;
  float: left;
  font-size: 14px;
}

.text_section_right{
  position: relative;
  width: 35%;
  top: 20%;
  right: 5%;
  float: right;
  font-size: 14px;
}

.image_section_right{
  position: relative;
  top: 25%;
  right: 5%;
  float: right;
  width: 35%;
}

.image_section_left{
  position: relative;
  top: 20%;
  left: 5%;
  width: 35%;
  float: left;
}

.text_section_title{
  font-size: 40px;
}

.background-image{
  width: 100%;
  height: 100%;
}

.text_section_middle{
  position: relative;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.calendly{
  padding-top: 3%;
}