.logo{
    margin-left: 3%;
    width: 25vw;
}

nav{
    height: 12%;
    text-align: center
}

li{
    white-space: nowrap;
    /* overflow-y: hidden; */
    width: 100%;
}

nav a{
    color: white;
    font-size: 1em;
    /* font-size: 1.3vw; */
}

@media(max-width:850px){
    .nav-link{display:none}
    .logo{ 
        position: relative;
        width: 50%;}
}

.background{
    transition-duration: 1s;
    transition-timing-function: ease;
    background-color: #303030;
}

.normal{
    height: 120px;
    transition-duration: 1s;
    transition-timing-function: ease;
}