.logo{
    margin-left: 40px;
    width: 240px;
}

nav a{
    color: white;
    font-size: 20px;
}
nav a:hover{
    color: 	#D0D0D0
}

.nav-link{
    margin-right: 40px;
}

.navbar-nav.ml-auto{
    margin-right: 50px;
}

.background2{
    transition-duration: 1s;
    transition-timing-function: ease;
    background-color: #989898;
}

.normal{
    height: 120px;
    transition-duration: 1s;
    transition-timing-function: ease;
}