.logo{
    margin-left: 3%;
    width: 23vw;
}

nav{
    height: 12%;
    text-align: center
}

li{
    white-space: nowrap;
    width: 100%;
} 

nav a{
    color: white;
    font-size: 1.6vw;
}
nav a:hover{
    color: 	#D0D0D0
}

.nav-link{
    margin-right: 2.3vw;
}

.navbar-nav.ml-auto{
    margin-right: 1vw;
}

.background2{
    transition-duration: 1s;
    transition-timing-function: ease;
    background-color: #989898;
}
@media(max-width:850px){
    .nav-link{display:none}
    .logo{ 
        position: relative;
        width: 50%;}
}

.normal{
    height: 17vh;
    transition-duration: 1s;
    transition-timing-function: ease;
}